<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.address.roadname.mapper.RoadAddressMapper">

    <select id="searchRoadAddress" resultType="com.address.roadname.dto.RoadAddressDto">
        SELECT DISTINCT
        A.기초구역번호 AS zipCode,
        B.시도명 || ' ' || DECODE(B.시군구명,'','', B.시군구명 || ' ')
        || DECODE(B.읍면동구분,'0', B.읍면동명 || ' ')
        || B.도로명 || ' '
        || DECODE(A.지하여부,0,'',1,'지하',2,'공중',3,'수상')
        || A.건물본번 || DECODE(A.건물부번,0,'','-' || A.건물부번)
        || CASE
        WHEN (B.읍면동구분 = '0' AND D.공동주택여부 = '0') THEN ''
        WHEN (B.읍면동구분 = '0' AND D.공동주택여부 = '1') THEN DECODE(D.시군구_건물명, '', '', '(' || D.시군구_건물명 || ')' )
        WHEN (B.읍면동구분 = '1' AND D.공동주택여부 = '0') THEN '(' || B.읍면동명 || ')'
        WHEN (B.읍면동구분 = '1' AND D.공동주택여부 = '1') THEN '(' || B.읍면동명 || DECODE(D.시군구_건물명, '', '', ',' || D.시군구_건물명 ) || ')'
        END AS roadAddress
        FROM 도로명주소 A, 도로명코드 B, 부가정보 D
        WHERE A.도로명코드 = B.도로명코드
        AND A.읍면동일련번호 = B.읍면동일련번호
        AND A.관리번호 = D.관리번호
        AND B.시도명 LIKE #{sido} || '%'
        AND B.시군구명 LIKE #{sigungu} || '%'
        AND B.도로명 LIKE #{roadName} || '%'
        <if test="mainBuildingNo != null">
            AND A.건물본번 = #{mainBuildingNo}
        </if>
        <if test="subBuildingNo != null">
            AND A.건물부번 = NVL(#{subBuildingNo}, 0)
        </if>
    </select>

</mapper>